<section class="bg-gray-50">
  <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-[calc(100vh-200px)] lg:py-0">
      <div class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 mx-auto my-auto">
          <p class="text-[20px] text-black text-center">
            Please Log in or Sign up to continue...
          </p>
      </div>
  </div>
</section>